<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        * {
            text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>
    <form action="/login" method="post">
        <h1>LOG IN</h1>
        <p>
            <input type="text" name="username" placeholder="id">
        </p>
        <p>
            <input type="password" name="password" placeholder="pw">
        </p>
        <input type="submit" value="LOGIN">
    </form>
</body>

</html>